.adminhome-sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  background: linear-gradient(45deg, #9001f5, #c3b0ea);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.adminhome-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.adminhome-button {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 50;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #9001f5;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
}
.button-open,
.button-close {
  width: 35px;
  height: 35px;
  color: #ff0178;
}

.adminhome-sidebar-open {
  left: 0;
  width: 250px;
  justify-content: center;
}

.adminhome-sidebar-close {
  left: -100%;
  width: 80px;
}

.menu-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-item img {
  width: 30px;
  height: 30px;
}

.menu-item-text {
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
  text-decoration: none;
  color: #f3f4f6;
}

.main-content.main-content-shifted {
  margin-left: 250px;
}
